.profile-thumbnail {
  width: 150px;
  height: 150px;
}

.list-group-item.active {
  z-index: 2;
  background-color: #fff;
  border-left: 3px solid #e66761;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-upload input[type=file] {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.profile-photo {
  width: 155px;
  margin-bottom: 20px;
}
