<!-- Navigation -->
<app-navbar></app-navbar>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!--    <div class="col-lg-3">-->
    <!--      <h1 class="my-4">Shop Name</h1>-->
    <!--      <div class="list-group">-->
    <!--        <a href="#" class="list-group-item">Category 1</a>-->
    <!--        <a href="#" class="list-group-item">Category 2</a>-->
    <!--        <a href="#" class="list-group-item">Category 3</a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- /.col-lg-3 -->

    <div class="col-lg-12">

      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="http://placehold.it/1200x350" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="http://placehold.it/1200x350" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="http://placehold.it/1200x350" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item One</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Two</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Three</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Four</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Five</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item Six</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-12 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<app-footer></app-footer>


<!--&lt;!&ndash; Top navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">-->
<!--  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">-->
<!--    <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">-->
<!--    <span class="dasboard-text">Dashboard</span>-->
<!--  </a>-->
<!--</nav>-->

<!--&lt;!&ndash; Sidebar navigation &ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->

<!--    <nav class="col-md-2 d-md-block bg-light sidebar">-->
<!--      <div class="sidebar-sticky">-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active">-->
<!--              <i class="fas fa-user"></i>User Profile-->
<!--            </a>-->
<!--          </li>-->
<!--          &lt;!&ndash; Calling signOut() Api from AuthService &ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" (click)="authService.signOut()">-->
<!--              <i class="fas fa-sign-out-alt"></i>Log out-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->

<!--    &lt;!&ndash; Main content &ndash;&gt;-->
<!--    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">-->
<!--      <div class="inner-adjust">-->

<!--        <div class="pt-3 pb-2 mb-3 border-bottom">-->
<!--          <h1 class="h2">User Profile</h1>-->
<!--        </div>-->
<!--        &lt;!&ndash; Show user data when logged in &ndash;&gt;-->
<!--        <div class="row" *ngIf="authService.userData as user">-->
<!--          <div class="col-md-12">-->
<!--            <div class="media">-->
<!--              <img class="align-self-start mr-5 img-thumbnail rounded-circle"-->
<!--                   src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"-->
<!--                   alt="{{user.displayName}}">-->
<!--              <div class="media-body">-->
<!--                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>-->
<!--                <p>User ID: <strong>{{user.uid}}</strong></p>-->
<!--                <p>Email: <strong>{{user.email}}</strong></p>-->
<!--                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </main>-->

<!--  </div>-->
<!--</div>-->
