<!-- Navigation -->
<app-navbar></app-navbar>

<!--<div class="container p-5 b-5">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card text-center">-->
<!--        <div class="card-header">-->
<!--          <ul class="nav nav-tabs card-header-tabs">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" href="" data-target="#user" data-toggle="tab"  aria-expanded="false">Profile</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="tab-content">-->
<!--            <div class="tab-pane active" id="user" aria-expanded="false">-->
<!--              <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>-->
<!--              <div style="text-align: left" *ngIf="profile$ | async as profile">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-12, col-lg-3">-->
<!--                    <img src="assets/images/dummy-user.png" alt="..." class="img-thumbnail profile-thumbnail">-->
<!--                  </div>-->
<!--                  <div class="col-md-12, col-lg-9">-->
<!--                    <p>Name: {{profile.name}}</p>-->
<!--                    <p>Bio: {{profile.bio}}</p>-->
<!--                    <p>Email: {{profile.email}}</p>-->
<!--                    <p *ngIf="profile.emailVerified === true">Verified: Yes</p>-->
<!--                    <p *ngIf="profile.emailVerified !== true">Verified: No</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-md-4 my-4">
      <div class="card">
        <div class="card-header">Settings</div>
        <div class="list-group list-group-flush">
          <a [routerLink]="['/settings/profile']" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">
            <i class="fa fa-fw fa-btn fa-edit"></i>Profile
          </a>
          <a [routerLink]="['/settings/security']" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">
            <i class="fa fa-fw fa-btn fa-lock"></i>Security
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





<!-- Footer -->
<app-footer></app-footer>
